<!DOCTYPE html>
<html lang="en">
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="get_stuff()">
{{event.name}}
<a  name="event___" hidden >{{event.id}}</a>
<form method="POST">
    {%csrf_token%}
    {{product_form}}
    <input type="submit" value="add" >
</form>
<table>
    <tr>
    <th>
        Name
    </th>
    <th>
        Price
    </th>
    <th>
        Max amount
    </th>
    </tr>
{%for product in product_list%}
<tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
</tr>
    {%endfor%}
</table>
<a href="{%url 'tickets_app:shop' event.id %}">Create Shops</a>
<a href="{%url 'tickets_app:finally' event.id %}">See overview</a>
</body>
</html>
<script>
function get_stuff(){
    document.getElementsByName('event')[0].value = {{event.id}};
    }
</script>